body {
    font-family: Arial, sans-serif; /* Schriftart wie in der Admin-Ansicht */
    background-color: #f4f4f4; /* Heller Hintergrund */
    color: #333; /* Dunkler Text */
    margin: 0;
    padding: 0;
}

h4, h5 {
    color: red; /* Rote Überschriften */
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 80%; /* Breite des Containers anpassen */
    margin: 0 auto; /* Zentrieren des Containers */
    padding: 20px;
    background-color: #fff; /* Weißer Hintergrund für den Container */
    border-radius: 8px; /* Abgerundete Ecken */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

.card {
    border: none; /* Rahmen entfernen */
    box-shadow: none; /* Schatten entfernen */
}

.card-content {
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: red; /* Rote Buttons */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; /* Abstand zum vorherigen Element */
}

/* Zusätzliche Styles für die Fragenanzeige */
.row {
    margin-bottom: 20px;
}


h4 { /* Schriftgröße für Überschrift anpassen */
    font-size: 1.8em; /* Oder einen anderen Wert, der dir gefällt */
}

.card-content h5 { /* Schriftgröße für Fragen erhöhen */
    font-size: 1.2em; /* Oder einen anderen Wert, der dir gefällt */}


